<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10" IgnorableNamespaces="uap mp rescap iot">
  <Identity
    Name="595c25f0-b370-4d7a-9b14-3027fbd69ecf"
    Publisher="CN=SternXD"
    Version="2.0.8.4" />
  <mp:PhoneIdentity PhoneProductId="595c25f0-b370-4d7a-9b14-3027fbd69ecf" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>pcsx2-winrt</DisplayName>
    <PublisherDisplayName>SternXD</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="pcsx2_winrt.App">
      <uap:VisualElements DisplayName="pcsx2-winrt" Description="XBSX2 UWP/WinRT - The PlayStation 2 Emulator for Xbox Series/Xbox One"
        Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" BackgroundColor="transparent">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:DefaultTile/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="xbsx2"/>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
		<rescap:Capability Name="runFullTrust"/>
		<rescap:Capability Name="broadFileSystemAccess" />
		<rescap:Capability Name="expandedResources" />
		<uap:Capability Name="removableStorage"/>
		<Capability Name="internetClient" />
		<Capability Name="codeGeneration"/>
		<Capability Name="internetClientServer"/>
	</Capabilities>
</Package>